
<div id="Home_Index_Background">
  <img src="~/Content/Images/FrontPage.jpg" alt="Driving Down The Road Photo" />
 </div> 
  <div id="Color_Overlay">
    <div id="Image_Text_Overlay"> 
      <div class="jumbotron">

        <h1>Are your auto insurance rates too high?</h1>
        <h3>
          Well,... you've come to the right place!
        </h3><br />
        <h2>Auto Insurance Connection </h2>
        <p>
          No Hassles. No Gimmicks. No Pressure. No Surprises... and No Hidden Fees.<br />
          <span>
            Get Exceptional Coverage at The Best Price Ever!!!
          </span>
        </p>
        <br /><br />
        <h5> The Process:</h5>
        &#64Auto Insurance Connection, your policy is precisely crafted based on three key factors:<br />
        Lifestyle, Budget, and Coverage Level Requirements. <br /><br />
        <h5>The Result:</h5>
        <p>
          A top-notch Auto Inurance Solution that is tailor-made and custom-fit just for you! <br /> Life is like a Road Trip... everyone's experience is unique and so are their insurance needs!<br />So, take a minute and do yourself a favor...<br /><br>
          <span> Join US! and Let The Good Times Roll...</span>
          <br />

          @Html.ActionLink("GET A FREE QUOTE NOW!", "Create", "Insuree", null, new { @id = "Free", @class = "btn btn-secondary" })
        </p>
      </div>
    </div>
  </div>

